---
import AstroIcon from "./icons/tools/AstroIcon.astro";
import TailwindIcon from "./icons/tools/TailwindIcon.astro";
import JavaScriptIcon from "./icons/tools/JavaScriptIcon.astro";
import TypescriptIcon from "./icons/tools/TypeScriptIcon.astro";
import WordPressIcon from "./icons/tools/WordPressIcon.astro";
import LiveSiteIcon from "./icons/LiveSiteIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: TailwindIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypescriptIcon,
  },
  WORDPRESS: {
    name: "Wordpress",
    icon: WordPressIcon,
  },
};

const PROJECTS = [
  {
    title: "Iglesia Bautista Dios Proveera Blog",
    description:
      "Iglesia Bautista Dios Proveera local church website with a blog focus.",
    link: "https://iglesiadiosproveera.com",
    github: "",
    image: "/projects/diosproveera.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Weather Forecast",
    description:
      "A minimalist weather forecast consuming the OpenWeatherAPI. Displays a loading skeleton and handles errors.",
    link: "https://alvarado08.github.io/weather-app/",
    github: "https://github.com/Alvarado08/weather-app",
    image: "/projects/weather.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Library App",
    description:
      "A digital bookshelf that can create and delete a book as well as update its reading status.",
    link: "https://alvarado08.github.io/library/",
    github: "https://github.com/Alvarado08/library",
    image: "/projects/library.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Rayados Waller Academy Website",
    description:
      "Rayados Waller Academy local soccer league website that serves as a central hub for league information and offers online player registrations.",
    link: "https://rayadoswaller.org",
    github: "",
    image: "/projects/rayadoswaller.webp",
    tags: [TAGS.WORDPRESS],
  },
];

const PROJECTS2 = [
  {
    title: "Iglesia Bautista Dios Proveera Blog",
    description:
      "Iglesia Bautista Dios Proveera local church blog focused website.",
    link: "https://iglesiadiosproveera.com",
    github: "",
    image: "/projects/diosproveera.webp",
    tab: ["featured", "freelance"],
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
    priority: 1,
  },
  {
    title: "Weather Forecast",
    description:
      "A minimalist weather forecast consuming WeatherAPI. Displays a loading skeleton and handles server errors.",
    link: "https://alvarado08.github.io/weather-app/",
    github: "https://github.com/Alvarado08/weather-app",
    image: "/projects/weather.webp",
    tab: ["featured", "personal"],
    tags: [TAGS.TYPESCRIPT, TAGS.TAILWIND],
    priority: 2,
  },
  {
    title: "Library App",
    description:
      "A digital bookshelf that can create and delete a book as well as update its reading status.",
    link: "https://alvarado08.github.io/library/",
    github: "https://github.com/Alvarado08/library",
    image: "/projects/library.webp",
    tab: ["featured", "personal"],
    tags: [TAGS.JAVASCRIPT, TAGS.TAILWIND],
    priority: 3,
  },
  {
    title: "Rayados Waller Academy Website",
    description:
      "Rayados Waller Academy local soccer league website that serves as a central hub for league information and offers online player registrations.",
    link: "https://rayadoswaller.org",
    github: "",
    image: "/projects/rayadoswaller.webp",
    tab: ["freelance"],
    tags: [TAGS.WORDPRESS],
    priority: 4,
  },
];

const testimonials = [
  {
    id: 1,
    content:
      "Johnny is like a unicorn in a field of horses, magically bridging the gap between design and coding...",
    imageUrl:
      "https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D",
    name: "Jhonny Mnemonic",
    title: "Chancellor of Nowhere Land",
  },
  {
    id: 2,
    content:
      "Sally is like a unicorn in a field of horses, magically bridging the gap between design and coding...",
    imageUrl:
      "https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D",
    name: "Jhonny Mnemonic",
    title: "Secretary of Nowhere Land",
  },
  {
    id: 3,
    content:
      "Kary is like a unicorn in a field of lanes, magically bridging the gap between design and coding...",
    imageUrl:
      "https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D",
    name: "Jhonny Mnemonic",
    title: "Chief Wizard of Nowhere Land",
  },
];

const featuredProjects = PROJECTS2.filter(({ tab }) =>
  tab.includes("featured")
).sort((a, b) => a.priority - b.priority);
const freelanceProjects = PROJECTS2.filter(({ tab }) =>
  tab.includes("freelance")
).sort((a, b) => a.priority - b.priority);
const personalProjects = PROJECTS2.filter(({ tab }) =>
  tab.includes("personal")
).sort((a, b) => a.priority - b.priority);

// const { "x-click": "@click" } = Astro.props;
---

<div
  x-data="{ activeTab: 1, activeClasses: 'font-bold text-yellow-500/90', inactiveClasses: 'font-light', }"
>
  <div class="flex items-center gap-5 text-xl lg:text-2xl mb-3">
    <h4
      @click="activeTab = 1"
      :class="activeTab === 1 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Featured
    </h4>
    <h4
      @click="activeTab = 2"
      :class="activeTab === 2 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Freelance
    </h4>
    <h4
      @click="activeTab = 3"
      :class="activeTab === 3 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Personal
    </h4>
  </div>
  <div class="space-y-5">
    {
      featuredProjects.map(
        ({ title, description, link, github, image, tags }) => (
          <article
            x-show="activeTab === 1"
            x-cloak
            x-transition:enter.duration.500ms
            x-transition:leave.duration.200ms
            class="space-y-3"
          >
            <h3 class="text-xl md:text-2xl font-semibold">{title}</h3>
            <p class="text-lg md:text-xl text-pretty">{description}</p>
            <p class="flex items-center gap-x-3">
              {link !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-red-500/90 text-lg"
                  href={link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Live
                  <LiveSiteIcon class="size-6 text-black" />
                </a>
              )}
              {github !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-blue-600/80 text-lg"
                  href={github}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Code
                  <GitHubIcon class="size-6 text-black" />
                </a>
              )}
            </p>
            <ul class="flex items-center gap-3 flex-wrap">
              {tags.map((tag) => (
                <li class="flex items-center gap-x-2">
                  <tag.icon class="size-6" />
                  {tag.name}
                </li>
              ))}
            </ul>
            <img
              class="rounded shadow-md projects w-full"
              src={image}
              alt={`Preview for ${title}`}
            />
          </article>
        )
      )
    }
    {
      freelanceProjects.map(
        ({ title, description, link, github, image, tags }) => (
          <article
            x-show="activeTab === 2"
            x-cloak
            x-transition:enter.duration.500ms
            x-transition:leave.duration.200ms
            class="space-y-3"
          >
            <h3 class="text-xl md:text-2xl font-semibold">{title}</h3>
            <p class="text-lg md:text-xl text-pretty">{description}</p>
            <p class="flex items-center gap-x-3">
              {link !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-red-500/90 text-lg"
                  href={link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Live
                  <LiveSiteIcon class="size-6 text-black" />
                </a>
              )}
              {github !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-blue-600/80 text-lg"
                  href={github}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Code
                  <GitHubIcon class="size-6 text-black" />
                </a>
              )}
            </p>
            <ul class="flex items-center gap-3 flex-wrap">
              {tags.map((tag) => (
                <li class="flex items-center gap-x-2">
                  <tag.icon class="size-6" />
                  {tag.name}
                </li>
              ))}
            </ul>
            <img
              class="rounded shadow-md projects w-full"
              src={image}
              alt={`Preview for ${title}`}
            />
          </article>
        )
      )
    }
    {
      personalProjects.map(
        ({ title, description, link, github, image, tags }) => (
          <article
            x-show="activeTab === 3"
            x-cloak
            x-transition:enter.duration.500ms
            x-transition:leave.duration.200ms
            class="space-y-3"
          >
            <h3 class="text-xl md:text-2xl font-semibold">{title}</h3>
            <p class="text-lg md:text-xl text-pretty">{description}</p>
            <p class="flex items-center gap-x-3">
              {link !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-red-500/90 text-lg"
                  href={link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Live
                  <LiveSiteIcon class="size-6 text-black" />
                </a>
              )}
              {github !== "" && (
                <a
                  class="inline-flex items-center gap-x-1 font-semibold text-blue-600/80 text-lg"
                  href={github}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Code
                  <GitHubIcon class="size-6 text-black" />
                </a>
              )}
            </p>
            <ul class="flex items-center gap-3 flex-wrap">
              {tags.map((tag) => (
                <li class="flex items-center gap-x-2">
                  <tag.icon class="size-6" />
                  {tag.name}
                </li>
              ))}
            </ul>
            <img
              class="rounded shadow-md projects w-full"
              src={image}
              alt={`Preview for ${title}`}
            />
          </article>
        )
      )
    }
  </div>
</div>

<!-- <div x-data="{testimonialActive: 1}" x-cloak>
  {
    testimonials.map(({ id, content, imageUrl, name, title }, index) => (
      <div x-show={`testimonialActive === ${index + 1}`}>
        <h1>{content}</h1>
        <img
          class="rounded-full size-24 object-cover"
          src={imageUrl}
          alt={name}
        />
        <h2>{name}</h2>
        <h3>{title}</h3>
        <button
          x-show={`${index !== 0}`}
          @click="testimonialActive = testimonialActive - 1"
          class="inline-flex items-center gap-x-2 text-red-500/90"
        >
          See prev
        </button>
        <button
          x-show={`testimonialActive < ${testimonials.length}`}
          @click="testimonialActive = testimonialActive + 1"
          class="inline-flex items-center gap-x-2 text-red-500/90"
        >
          Read more
        </button>
      </div>
    ))
  }
</div> -->

<!-- <div
  x-data=`{ featuredProjects: ${JSON.stringify(featuredProjects)}, freelanceProjects: ${JSON.stringify(freelanceProjects)}, personalProjects: ${JSON.stringify(personalProjects)}, activeClasses: 'font-bold', inactiveClasses: 'font-light', activeTab: 1}`
>
  <div class="flex items-center gap-5 text-xl lg:text-2xl">
    <h4
      @click="activeTab = 1"
      :class="activeTab === 1 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Featured
    </h4>
    <h4
      @click="activeTab = 2"
      :class="activeTab === 2 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Freelance
    </h4>
    <h4
      @click="activeTab = 3"
      :class="activeTab === 3 ? activeClasses : inactiveClasses"
      class="hover:cursor-pointer"
    >
      Personal
    </h4>
  </div>
  <div
    x-show="activeTab === 1"
    x-transition:enter.duration.500ms
    x-transition:leave.duration.200ms
    x-cloak
  >
    <template x-for="project in featuredProjects" :key="project.title">
      <h3 class="text-xl md:text-2xl font-semibold" x-text="project.title"></h3>
      <p class="text-lg md:text-xl text-pretty" x-text="project.description">
      </p>
      <a :href="project.link" :target="_blank" :rel="noopener noreferrer"
        >Live</a
      >
    </template>
  </div>
  <div
    x-show="activeTab === 2"
    x-transition:enter.duration.500ms
    x-transition:leave.duration.200ms
    x-cloak
  >
    <template x-for="project in freelanceProjects" :key="project.title">
      <h3 class="text-xl md:text-2xl font-semibold" x-text="project.title"></h3>
      <p class="text-lg md:text-xl text-pretty" x-text="project.description">
      </p>
      <a :href="project.link" :target="_blank" :rel="noopener noreferrer"
        >Live</a
      >
    </template>
  </div>
  <div
    x-show="activeTab === 3"
    x-transition:enter.duration.500ms
    x-transition:leave.duration.200ms
    x-cloak
  >
    <template x-for="project in personalProjects" :key="project.title">
      <h3 class="text-xl md:text-2xl font-semibold" x-text="project.title"></h3>
      <p class="text-lg md:text-xl text-pretty" x-text="project.description">
      </p>
      <a :href="project.link" :target="_blank" :rel="noopener noreferrer"
        >Live</a
      >
    </template>
  </div>
</div> -->
<!-- {
    PROJECTS.map(({title,description,link,github,image,tags}) => (
        <article class="space-y-3">
            <h3 class="text-xl md:text-2xl font-semibold">{title}</h3>
            <p class="text-lg md:text-xl text-pretty">{description}</p>
            <p class="flex items-center gap-x-3">
                {link !== '' && <a class="inline-flex items-center gap-x-1 font-semibold text-red-500/90 text-lg" href={link} target="_blank" rel="noopener noreferrer">
                    Live
                    <LiveSiteIcon class="size-6 text-black"/>
                    </a> 
                }
                {github !== '' && <a class="inline-flex items-center gap-x-1 font-semibold text-blue-600/80 text-lg" href={github} target="_blank" rel="noopener noreferrer">
                    Code
                    <GitHubIcon class="size-6 text-black"/>
                    </a> 
                }
            </p>
            <ul class="flex items-center gap-3 flex-wrap">
                {tags.map(tag => (
                    <li class="flex items-center gap-x-2">
                        <tag.icon class="size-6"/>
                        {tag.name}
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-md projects w-full" src={image} alt={`Preview for ${title}`}>
        </article>
    ))
} -->
